/*  text color #e08866
    bg color  #281d2d
*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #281d2d;
  color: #e08866;
}

.header {
  background-color: #412f49;
  border-radius: 15px;
  border-color: #e08866;
  font-size: x-large;
  padding: 10px 0;
  margin: 15px;
  text-align: left;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 15px;
}

.navbar a,
.navbar button {
  margin-right: 15px;
  color: #e08866;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar a:hover,
.navbar button:hover {
  color: black;
}

.navbar h1 {
  font-size: 30px;
  margin-right: auto;
}
